<div class='container py-3'>
	<header>
		<div class='d-flex flex-column flex-md-row align-items-center pb-3 mb-4'>
			<a href='/' class='d-flex align-items-center text-dark text-decoration-none'>
				<h2>Device shop</h2>
			</a>

			<nav class='d-inline-flex mt-2 mt-md-0 ms-md-auto'>

				{{#if isAdd}}
					<a class='me-3 py-2 text-dark' href='/add'>Add</a>
				{{else}}
					<a class='me-3 py-2 text-dark text-decoration-none' href='/add'>Add</a>
				{{/if}}

				<div class='btn-group' role='group' aria-label='Basic mixed styles example'>
					{{#if token}}
						<button type='button' class=''>
							<a class='text-decoration-none text-dark' href='/logout'>Logout</a>
						</button>
					{{else}}
						{{#if isLogin}}
							<button type='button' class=''>
								<a class='text-decoration-none text-dark' href='/login'>Login</a>
							</button>
						{{else}}
							<button type='button' class=''>
								<a class='text-decoration-none text-dark' href='/login'>Login</a>
							</button>
						{{/if}}

						{{#if isRegister}}
							<button type='button' class=''>
								<a class='text-decoration-none text-dark' href='/register'>Register</a>
							</button>
						{{else}}
							<button type='button' class=''>
								<a class=' text-decoration-none text-dark' href='/register'>Register</a>
							</button>
						{{/if}}
					{{/if}}
				</div>
			</nav>
		</div>
	</header>
</div>